@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  font-family: "IBM Plex Serif", system-ui;
}

/* Tasklist styles */
.prose ul[data-type="taskList"] li {
  @apply flex items-center gap-x-4 list-disc;
}

.prose ul[data-type="taskList"] {
  @apply pl-0;
}

.tippy-box {
  background-color: #ffffff !important;
}
.tippy-arrow {
  display: none !important;
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  background-color: #0d0d0d;
}
pre code {
  font-weight: 400 !important;
}

div.tippy-content {
  padding: 0px;
}
